#-------------------------
# Operating Specific Junk Files
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory
iramadibatu
# Linux trash folder which might appear on any partition or disk
.Trash-*

#-------------------------
# Environment Files
#-------------------------
# These should never be under version control,
# as it poses a security risk.
iramadibatu/.env
iramadibatu/.vagrant
iramadibatu/Vagrantfile

#-------------------------
# Temporary Files
#-------------------------
iramadibatu/writable/cache/*
iramadibatu/!writable/cache/index.html

iramadibatu/writable/logs/*
iramadibatu/!writable/logs/index.html

iramadibatu/writable/session/*
iramadibatu/!writable/session/index.html

iramadibatu/writable/uploads/*
iramadibatu/!writable/uploads/index.html

iramadibatu/writable/debugbar/*

iramadibatu/php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------
iramadibatu/user_guide_src/build/*
iramadibatu/user_guide_src/cilexer/build/*
iramadibatu/user_guide_src/cilexer/dist/*
iramadibatu/user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Test Files
#-------------------------
iramadibatu/tests/coverage*

# Don't save phpunit under version control.
iramadibatu/phpunit

#-------------------------
# Composer
#-------------------------
iramadibatu/vendor/

#-------------------------
# IDE / Development Files
#-------------------------

# Modules Testing
iramadibatu/_modules/*

# phpenv local config
iramadibatu/.php-version

# Jetbrains editors (PHPStorm, etc)
.idea/
*.iml

# Netbeans
nbproject/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
.nb-gradle/

# Sublime Text
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
.phpintel
api/

# Visual Studio Code
.vscode/

/results/
/phpunit*.xml
/.phpunit.*.cache

public/themes/
public/uploads/